.btnGap{
    float:right;
    margin-right:10px;
}

.education-skills{
    .form-input{

        margin-bottom: 40px;
        margin-top:40px;
        margin-left: 40px;
        margin-right: 200px !important;
       .text-dark{
        font-size: 40px;
        font-weight: 700;
       }
    }
}