.btnGap{
    float:right;
    margin-right:10px;
}


.container-app{
    .form-input{

        margin-bottom: 100px;
        .text-dark{
            margin-bottom: 20px;
            padding: 30px;
            font-size: 40px;
            font-weight: 700;

        }
    }
}

